@tailwind base;
@tailwind components;
@tailwind utilities;

.footer__center {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page-transition {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.page-transition.active {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}